# Walt Disney Films 

        Related Data was scraped from wikipedia, converted to a json dataset and then cleaned using Beautiful Soup and Pandas.

## Task 1: Get info box (store in python dictionary)

In [1]:
from bs4 import BeautifulSoup
import requests

In [ ]:
toy_story = requests.get('https://en.wikipedia.org/wiki/Toy_Story_3').text
soup = BeautifulSoup(toy_story,'lxml')

In [ ]:
info_box = soup.find('table', class_ = 'infobox vevent')
print(info_box.prettify())

In [ ]:
# extracting labels and values to be stored in the dictionary
keys = soup.find_all(class_= 'infobox-label' )
values = soup.find_all(class_= 'infobox-data' )
movie_name = soup.find(class_='infobox-above summary').text

#creating dictionary
info_dict = {}
info_dict['Name'] = movie_name
for key, value in zip(keys, values):
    info_dict[key.text] = value.text.replace("\n", ",").replace("\xa0", "")
    
info_dict

## Task 2: Get info box of all movies

In [ ]:
movies = requests.get('https://en.wikipedia.org/wiki/List_of_Walt_Disney_Pictures_films').text
soup = BeautifulSoup(movies,'lxml')
links = soup.select('.wikitable.sortable i a')
movie_info_list = []

In [ ]:
# including only released movies
type(links)
links = links[0:495] # slicing links resultset to avoid errors

In [ ]:
def clean_tags(soup): # removes citation signs and numeric dates (redundant)
    for tag in soup.find_all(['sup', 'span']):
        tag.decompose()
        
def get_infobox(url):
    movie = requests.get(url).text
    soup = BeautifulSoup(movie,'lxml')
    info_box = soup.find('table', class_ = 'infobox vevent')
    
    # extracting labels and values to be stored in the dictionary
    keys = soup.find_all(class_= 'infobox-label' )
    values = soup.find_all(class_= 'infobox-data' )
    movie_name = soup.find(class_='infobox-above summary').text
    
    clean_tags(soup)
    
    #creating dictionary
    info_dict = {}
    info_dict['Name'] = movie_name
    for key, value in zip(keys, values):
        info_dict[key.text] = value.text.replace("\n", ",").replace("\xa0", "")

    return info_dict

In [ ]:
for link in links:
        link = 'https://en.wikipedia.org' + link.get('href')
        movie_info_list.append(get_infobox(link))
        print(link)

In [ ]:
movie_info_list

In [ ]:
len(movie_info_list)

### Saving and loading data as json

In [2]:
import json

def save_data(title, data):
    with open(title, 'w', encoding='utf-8') as f:
        json.dump(data, f, ensure_ascii=False, indent=4)

In [3]:
def load_data(title):
    with open(title, encoding='utf-8') as f:
        return json.load(f)

In [ ]:
save_data('disney_movies.json', movie_info_list)

## Data Cleaning

In [4]:
movie_info_list = load_data('disney_movies.json')

### Removing non-existent values

In [5]:
import pandas as pd
import numpy as np

In [6]:
movie_data = pd.read_json('disney_movies.json')
movie_data

,Name,Productioncompany,Distributed by,Release date,Running time,Country,Language,Box office,Directed by,Written by,...,Suggested by,Layouts by,Original concept by,Studio,Director,Original language,Producers,Editor,Production companies,Distributor
0,Academy Award Review of Walt Disney Cartoons,Walt Disney Productions,United Artists,",May19,1937,",41 minutes (74 minutes 1966 release),United States,English,$45.472,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Snow White and the Seven Dwarfs,Walt Disney Productions,RKO Radio Pictures,NaN,83 minutes,United States,English,$418 million,"Supervising Director ,David Hand,,Sequence Dir...",",Ted Sears,Richard Creedon,Otto Englander,Dick...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Pinocchio,Walt Disney Productions,RKO Radio Pictures,NaN,88 minutes,United States,English,$164million,"Supervising Directors,Ben Sharpsteen,Hamilton ...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Fantasia,Walt Disney Productions,RKO Radio Pictures,",November13,1940,",126 minutes,United States,English,$76.4–$83.3 million (United States and Canada),",Samuel Armstrong,James Algar,Bill Roberts,Pau...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,The Reluctant Dragon,Walt Disney Productions,RKO Radio Pictures,",June27,1941,",74 minutes,United States,English,"$960,000 (worldwide rentals)",Alfred Werker (live action)Hamilton Luske (ani...,Live-action:Ted SearsAl PerkinsLarry ClemmonsB...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490,Polar Bear,Disneynature,Disney+,",April22,2022,",84 minutes,United States,English,NaN,",Alastair Fothergill,Jeff Wilson,",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
491,Chip 'n Dale: Rescue Rangers,NaN,Disney+,NaN,96 minutes,United States,English,"$636,163",Akiva Schaffer,",Dan Gregor,Doug Mand,",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
492,Hollywood Stargirl,NaN,Disney+,NaN,105 minutes,United States,English,NaN,Julia Hart,",Jordan Horowitz,Julia Hart,",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
493,Lightyear,NaN,Walt Disney StudiosMotion Pictures,NaN,100 minutes,United States,English,$213.4 million,Angus MacLane,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
494,Rise,NaN,Disney+,",June24,2022,",NaN,NaN,NaN,NaN,Akin Omotoso,Arash Amel,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
movie_data.isnull().values.any()

True

In [8]:
columns = movie_data.columns[movie_data.isnull().any()].tolist()
columns

['Productioncompany',
 'Distributed by',
 'Release date',
 'Running time',
 'Country',
 'Language',
 'Box office',
 'Directed by',
 'Written by',
 'Based on',
 'Produced by',
 'Starring',
 'Music by',
 'Release dates',
 'Budget',
 'Story by',
 'Narrated by',
 'Cinematography',
 'Edited by',
 'Languages',
 'Screenplay by',
 'Released',
 'Label',
 'Countries',
 'Genre',
 'Length',
 'Producer',
 'Color process',
 'Recorded',
 'Created by',
 'Country of origin',
 'No. of seasons',
 'No. of episodes',
 'Executive producers',
 'Production company',
 'Original network',
 'Picture format',
 'Audio format',
 'Original release',
 'Related shows',
 'Productioncompanies',
 'Japanese',
 'Hepburn',
 'Adaptation by',
 'Animation by',
 'Traditional',
 'Simplified',
 'Developer(s)',
 'Publisher(s)',
 'Platform(s)',
 'Release',
 'Genre(s)',
 'Mode(s)',
 'Compiler',
 '',
 'Original title',
 'Suggested by',
 'Layouts by',
 'Original concept by',
 'Studio',
 'Director',
 'Original language',
 'Producers',
 'Editor',
 'Production companies',
 'Distributor']

In [9]:
# Check if all values in column 'B' are NaN
for column in columns:
    if movie_data[column].isnull().all():
        print(f"All values in the column {column} are NaN")
    else:
        print(f"All values in the column {column} are not NaN")

All values in the column Productioncompany are not NaN
All values in the column Distributed by are not NaN
All values in the column Release date are not NaN
All values in the column Running time are not NaN
All values in the column Country are not NaN
All values in the column Language are not NaN
All values in the column Box office are not NaN
All values in the column Directed by are not NaN
All values in the column Written by are not NaN
All values in the column Based on are not NaN
All values in the column Produced by are not NaN
All values in the column Starring are not NaN
All values in the column Music by are not NaN
All values in the column Release dates are not NaN
All values in the column Budget are not NaN
All values in the column Story by are not NaN
All values in the column Narrated by are not NaN
All values in the column Cinematography are not NaN
All values in the column Edited by are not NaN
All values in the column Languages are not NaN
All values in the column Screenplay by are not NaN
All values in the column Released are not NaN
All values in the column Label are not NaN
All values in the column Countries are not NaN
All values in the column Genre are not NaN
All values in the column Length are not NaN
All values in the column Producer are not NaN
All values in the column Color process are not NaN
All values in the column Recorded are not NaN
All values in the column Created by are not NaN
All values in the column Country of origin are not NaN
All values in the column No. of seasons are not NaN
All values in the column No. of episodes are not NaN
All values in the column Executive producers are not NaN
All values in the column Production company are not NaN
All values in the column Original network are not NaN
All values in the column Picture format are not NaN
All values in the column Audio format are not NaN
All values in the column Original release are not NaN
All values in the column Related shows are not NaN
All values in the column Productioncompanies are not NaN
All values in the column Japanese are not NaN
All values in the column Hepburn are not NaN
All values in the column Adaptation by are not NaN
All values in the column Animation by are not NaN
All values in the column Traditional are not NaN
All values in the column Simplified are not NaN
All values in the column Developer(s) are not NaN
All values in the column Publisher(s) are not NaN
All values in the column Platform(s) are not NaN
All values in the column Release are not NaN
All values in the column Genre(s) are not NaN
All values in the column Mode(s) are not NaN
All values in the column Compiler are not NaN
All values in the column  are not NaN
All values in the column Original title are not NaN
All values in the column Suggested by are not NaN
All values in the column Layouts by are not NaN
All values in the column Original concept by are not NaN
All values in the column Studio are not NaN
All values in the column Director are not NaN
All values in the column Original language are not NaN
All values in the column Producers are not NaN
All values in the column Editor are not NaN
All values in the column Production companies are not NaN
All values in the column Distributor are not NaN

since all above columns have NaN values hence we cannot consider to drop an entire column. Hence we will consider dropping columns that are not needed. We donot require following columns:
-distributor
-studio
-songwriter
-layouts
-orignal concept
-compiler
-mode
-production companies
-platforms
-publishers
-developers
-no.of seasons
-no.of episodes
-simplified
-traditional
-animation by
-adaptation by
-hepburn
-japanese
-related shows
-audio format
-picture format
-orignal network
-recorded
-color process

In [10]:


movie_data = movie_data.drop(columns =['Distributor', 'Studio', '', 'Layouts by', 'Original concept by', 'Compiler', 'Mode(s)',
                         'Production companies', 'Platform(s)', 'Publisher(s)', 'Developer(s)', 'No. of seasons',
                         'No. of episodes', 'Simplified', 'Traditional', 'Animation by', 'Adaptation by', 'Hepburn',
                         'Japanese', 'Related shows', 'Audio format', 'Picture format', 'Original network', 'Recorded',
                         'Color process'])

In [11]:
movie_data = movie_data.drop(columns =['Original title', 'Original language','Producers', 'Productioncompanies'])

In [12]:
movie_data = movie_data.drop(columns =['Created by', 'Country of origin','Suggested by', 'Executive producers', 'Production company'])

In [13]:

movie_data = movie_data.drop(columns=['Length', 'Label', 'Editor'])

In [14]:

movie_data.columns

Index(['Name', 'Productioncompany', 'Distributed by', 'Release date',
       'Running time', 'Country', 'Language', 'Box office', 'Directed by',
       'Written by', 'Based on', 'Produced by', 'Starring', 'Music by',
       'Release dates', 'Budget', 'Story by', 'Narrated by', 'Cinematography',
       'Edited by', 'Languages', 'Screenplay by', 'Released', 'Countries',
       'Genre', 'Producer', 'Original release', 'Release', 'Genre(s)',
       'Director'],
      dtype='object')

In [15]:
movie_data[['Release date', 'Release dates', 'Released' ,'Original release', 'Release']]

,Release date,Release dates,Released,Original release,Release
0,",May19,1937,",NaN,NaN,NaN,NaN
1,NaN,",December21,1937 (Carthay Circle Theatre),Febr...",NaN,NaN,NaN
2,NaN,",February7,1940 (Center Theatre),February23,19...",NaN,NaN,NaN
3,",November13,1940,",NaN,NaN,NaN,NaN
4,",June27,1941,",NaN,NaN,NaN,NaN
...,...,...,...,...,...
490,",April22,2022,",NaN,NaN,NaN,NaN
491,NaN,",May19,2022 (Hollywood, California),May20,2022...","May20,2022",NaN,NaN
492,NaN,",May23,2022 (El Capitan Theatre),June3,2022 (U...",NaN,NaN,NaN
493,NaN,",June8,2022 (El Capitan Theatre),June17,2022 (...",NaN,NaN,NaN
494,",June24,2022,",NaN,NaN,NaN,NaN



as you can see that released, orignal releases and release are redundant and mostly empty, they will be deleted and later on release date and release dates will be combined to create a single column

In [16]:
movie_data = movie_data.drop(columns=['Released', 'Original release', 'Release'])

In [17]:
movie_data.columns

Index(['Name', 'Productioncompany', 'Distributed by', 'Release date',
       'Running time', 'Country', 'Language', 'Box office', 'Directed by',
       'Written by', 'Based on', 'Produced by', 'Starring', 'Music by',
       'Release dates', 'Budget', 'Story by', 'Narrated by', 'Cinematography',
       'Edited by', 'Languages', 'Screenplay by', 'Countries', 'Genre',
       'Producer', 'Genre(s)', 'Director'],
      dtype='object')

In [18]:

movie_data[['Edited by', 'Director' ,'Directed by', 'Countries']]

,Edited by,Director,Directed by,Countries
0,NaN,NaN,NaN,NaN
1,NaN,NaN,"Supervising Director ,David Hand,,Sequence Dir...",NaN
2,NaN,NaN,"Supervising Directors,Ben Sharpsteen,Hamilton ...",NaN
3,NaN,NaN,",Samuel Armstrong,James Algar,Bill Roberts,Pau...",NaN
4,Paul Weatherwax,NaN,Alfred Werker (live action)Hamilton Luske (ani...,NaN
...,...,...,...,...
490,NaN,NaN,",Alastair Fothergill,Jeff Wilson,",NaN
491,Brian Olds,NaN,Akiva Schaffer,NaN
492,Shayar BhansaliTracey Wadmore-Smith,NaN,Julia Hart,NaN
493,Anthony J. Greenberg,NaN,Angus MacLane,NaN
494,Vuyani Sondlo,NaN,Akin Omotoso,United StatesGreece

In [19]:
movie_data = movie_data.drop(columns=['Countries', 'Director'])

In [20]:
movie_data[['Productioncompany', 'Produced by' ,'Genre', 'Genre(s)']]

,Productioncompany,Produced by,Genre,Genre(s)
0,Walt Disney Productions,NaN,NaN,NaN
1,Walt Disney Productions,Walt Disney,NaN,NaN
2,Walt Disney Productions,Walt Disney,NaN,NaN
3,Walt Disney Productions,",Walt Disney,Ben Sharpsteen,",NaN,NaN
4,Walt Disney Productions,Walt Disney,NaN,NaN
...,...,...,...,...
490,Disneynature,",Alastair Fothergill,Keith Scholey,Roy Conli,J...",NaN,NaN
491,NaN,",David Hoberman,Todd Lieberman,",NaN,NaN
492,NaN,",Ellen Goldsmith-Vein,Lee Stollman,",NaN,NaN
493,NaN,Galyn Susman,NaN,NaN
494,NaN,Bernie Goldmann,NaN,NaN

In [21]:
movie_data = movie_data.drop(columns=['Genre', 'Genre(s)'])

In [22]:
movie_data.columns

Index(['Name', 'Productioncompany', 'Distributed by', 'Release date',
       'Running time', 'Country', 'Language', 'Box office', 'Directed by',
       'Written by', 'Based on', 'Produced by', 'Starring', 'Music by',
       'Release dates', 'Budget', 'Story by', 'Narrated by', 'Cinematography',
       'Edited by', 'Languages', 'Screenplay by', 'Producer'],
      dtype='object')

In [23]:
movie_data[['Language', 'Languages']] # to be merged

    Language     Languages
0    English           NaN
1    English           NaN
2    English           NaN
3    English           NaN
4    English           NaN
..       ...           ...
490  English           NaN
491  English           NaN
492  English           NaN
493  English           NaN
494      NaN  EnglishGreek

[495 rows x 2 columns]

In [24]:
movie_data["Language"] + movie_data["Languages"]

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
490    NaN
491    NaN
492    NaN
493    NaN
494    NaN
Length: 495, dtype: object

In [25]:
movie_data["Language"].astype('str')

0      English
1      English
2      English
3      English
4      English
        ...
490    English
491    English
492    English
493    English
494        nan
Name: Language, Length: 495, dtype: object

In [26]:
movie_data['hello'] = movie_data["Language"].astype('str') + movie_data["Languages"]

In [27]:
movie_data['hello'].loc[400:450]

400                                         NaN
401                            nanFrenchEnglish
402                                         NaN
403                                         NaN
404                                         NaN
405                                         NaN
406                                         NaN
407                                         NaN
408                                         NaN
409                                         NaN
410                                         NaN
411                                         NaN
412                                         NaN
413                                         NaN
414                                         NaN
415                                         NaN
416                                         NaN
417                                         NaN
418                                         NaN
419                                         NaN
420                                         NaN
421                                         NaN
422                                         NaN
423                                         NaN
424                                         NaN
425                                         NaN
426                                         NaN
427                                         NaN
428                                         NaN
429                                         NaN
430                                         NaN
431                                         NaN
432                                         NaN
433                                         NaN
434                           nanEnglishLuganda
435                                         NaN
436                                         NaN
437                                         NaN
438                                         NaN
439                    nanEnglishMandarinFrench
440                                         NaN
441                                         NaN
442                                         NaN
443                                         NaN
444    English, RussianRussianEnglish (dubbing)
445                                         NaN
446                                         NaN
447                                         NaN
448                                         NaN
449                                         NaN
450                                         NaN
Name: hello, dtype: object

as seen that even by combining the two columns the results are not sufficent to deduce any conclusion regarding the language of the movie hence it is suitable to drop these columns as well.

In [28]:
movie_data = movie_data.drop(columns=['Language', 'Languages'])

In [29]:
movie_data.columns

Index(['Name', 'Productioncompany', 'Distributed by', 'Release date',
       'Running time', 'Country', 'Box office', 'Directed by', 'Written by',
       'Based on', 'Produced by', 'Starring', 'Music by', 'Release dates',
       'Budget', 'Story by', 'Narrated by', 'Cinematography', 'Edited by',
       'Screenplay by', 'Producer', 'hello'],
      dtype='object')

In [30]:
movie_data = movie_data.drop(columns=['hello'])

In [31]:
movie_data[['Productioncompany', 'Producer', 'Release date', 'Release dates', 'Written by', 'Produced by']].head(5)

,Productioncompany,Producer,Release date,Release dates,Written by,Produced by
0,Walt Disney Productions,NaN,",May19,1937,",NaN,NaN,NaN
1,Walt Disney Productions,NaN,NaN,",December21,1937 (Carthay Circle Theatre),Febr...",",Ted Sears,Richard Creedon,Otto Englander,Dick...",Walt Disney
2,Walt Disney Productions,NaN,NaN,",February7,1940 (Center Theatre),February23,19...",NaN,Walt Disney
3,Walt Disney Productions,NaN,",November13,1940,",NaN,NaN,",Walt Disney,Ben Sharpsteen,"
4,Walt Disney Productions,NaN,",June27,1941,",NaN,Live-action:Ted SearsAl PerkinsLarry ClemmonsB...,Walt Disney

As for producer, production company and produced by, they need to be combined since all of them deal with the production of the film. Same with release date and realse dates

In [32]:
movie_data['Production by'] = movie_data['Productioncompany'].astype('str') + ", " + movie_data['Producer'].astype('str') + ", " + movie_data['Produced by'].astype('str')
movie_data['Production by'].loc[400:450]

400                                   nan, nan, Joe Roth
401                 nan, nan, Grady CandlerAlix Tidmarsh
402                                   nan, nan, Kori Rae
403         nan, nan, ,Jerry Bruckheimer,Gore Verbinski,
404                      nan, nan, Tracy Balthazor-Flynn
405                 nan, nan, Anna McRobertsRobert Vince
406                            nan, nan, Peter Del Vecho
407         nan, nan, Alison OwenIan ColliePhilip Steuer
408            nan, nan, ,David Hoberman,Todd Lieberman,
409                           nan, nan, Jenni Magee-Cook
410                                        nan, nan, nan
411    nan, nan, Michael MandtNeil MandtJoe RothMark ...
412                                   nan, nan, Joe Roth
413                             nan, nan, Ferrell Barron
414    nan, nan, Rhea KapoorAnil KapoorSiddharth Roy ...
415            nan, nan, Shawn LevyDan LevineLisa Henson
416                                  nan, nan, Roy Conli
417    nan, nan, ,Rob Marshall,John DeLuca,Marc Platt...
418                  nan, nan, ,Gordon Gray,Mark Ciardi,
419                Disneytoon Studios, nan, Makul Wigert
420    nan, nan, ,Simon Kinberg,Allison Shearmur,Davi...
421           nan, nan, Mark LinfieldAlastair Fothergill
422    nan, Michael Giacchino, ,Damon Lindelof,Brad B...
423                               nan, nan, Jonas Rivera
424       Walt Disney Pictures, nan, Siddharth Roy Kapur
425                                nan, nan, Denise Ream
426             nan, nan, ,Jim Whitaker,Dorothy Aufiero,
427                              nan, nan, Clark Spencer
428               nan, nan, ,Jon Favreau,Brigham Taylor,
429                                nan, nan, Pablo Bossi
430    nan, nan, ,Joe Roth,Suzanne Todd,Jennifer Todd...
431    nan, ,Thomas Newman,Bill Bernstein,, Lindsey C...
432    nan, John Williams, ,Steven Spielberg,Frank Ma...
433    nan, ,Daniel Hart,Jake Jackson,David Lowery (e...
434            nan, nan, ,John Carls,Lydia Dean Pilcher,
435                               nan, nan, Osnat Shurer
436     nan, nan, Aamir KhanKiran RaoSiddharth Roy Kapur
437    nan, nan, ,Yves Darondeau,Christophe Lioud,Emm...
438            nan, nan, ,David Hoberman,Todd Lieberman,
439           nan, nan, Roy ConliBrian LeithPhil Chapman
440                          nan, nan, Jerry Bruckheimer
441                     nan, Tom MacDougall, Kevin Reher
442                                nan, nan, Brian Leith
443    nan, nan, Siddharth Roy KapurAnurag BasuRanbir...
444    nan, nan, ,Marina Zhigalova-Ozkan,Eduard Iloya...
445                          nan, nan, Darla K. Anderson
446              nan, nan, ,Jim Whitaker,Catherine Hand,
447       nan, nan, ,John Walker,Nicole Paradis Grindle,
448              nan, nan, ,Brigham Taylor,Kristin Burr,
449                 nan, nan, ,Mark Gordon,Larry Franco,
450                              nan, nan, Clark Spencer
Name: Production by, dtype: object

In [33]:
movie_data['Release'] = movie_data['Release date'].astype('str') + ", " + movie_data['Release dates'].astype('str')
movie_data['Release']

0                                      ,May19,1937,, nan
1      nan, ,December21,1937 (Carthay Circle Theatre)...
2      nan, ,February7,1940 (Center Theatre),February...
3                                 ,November13,1940,, nan
4                                     ,June27,1941,, nan
                             ...
490                                  ,April22,2022,, nan
491    nan, ,May19,2022 (Hollywood, California),May20...
492    nan, ,May23,2022 (El Capitan Theatre),June3,20...
493    nan, ,June8,2022 (El Capitan Theatre),June17,2...
494                                   ,June24,2022,, nan
Name: Release, Length: 495, dtype: object

Now that the columns are combined we can delete the ones used in the combination

In [34]:
movie_data = movie_data.drop(columns=['Release date', 'Release dates', 'Productioncompany', 'Producer', 'Produced by'])

In [35]:
movie_data.columns

Index(['Name', 'Distributed by', 'Running time', 'Country', 'Box office',
       'Directed by', 'Written by', 'Based on', 'Starring', 'Music by',
       'Budget', 'Story by', 'Narrated by', 'Cinematography', 'Edited by',
       'Screenplay by', 'Production by', 'Release'],
      dtype='object')

now for the columns merged, all the nan strings present in the dataset need to be cleared

In [36]:
movie_data[['Release', 'Production by', ]]

,Release,Production by
0,",May19,1937,, nan","Walt Disney Productions, nan, nan"
1,"nan, ,December21,1937 (Carthay Circle Theatre)...","Walt Disney Productions, nan, Walt Disney"
2,"nan, ,February7,1940 (Center Theatre),February...","Walt Disney Productions, nan, Walt Disney"
3,",November13,1940,, nan","Walt Disney Productions, nan, ,Walt Disney,Ben..."
4,",June27,1941,, nan","Walt Disney Productions, nan, Walt Disney"
...,...,...
490,",April22,2022,, nan","Disneynature, nan, ,Alastair Fothergill,Keith ..."
491,"nan, ,May19,2022 (Hollywood, California),May20...","nan, Joe LisantiBrian Tyler, ,David Hoberman,T..."
492,"nan, ,May23,2022 (El Capitan Theatre),June3,20...","nan, nan, ,Ellen Goldsmith-Vein,Lee Stollman,"
493,"nan, ,June8,2022 (El Capitan Theatre),June17,2...","nan, nan, Galyn Susman"
494,",June24,2022,, nan","nan, nan, Bernie Goldmann"

In [37]:
movie_data[['Release','Production by' ]].replace(' nan', "")

,Release,Production by
0,",May19,1937,, nan","Walt Disney Productions, nan, nan"
1,"nan, ,December21,1937 (Carthay Circle Theatre)...","Walt Disney Productions, nan, Walt Disney"
2,"nan, ,February7,1940 (Center Theatre),February...","Walt Disney Productions, nan, Walt Disney"
3,",November13,1940,, nan","Walt Disney Productions, nan, ,Walt Disney,Ben..."
4,",June27,1941,, nan","Walt Disney Productions, nan, Walt Disney"
...,...,...
490,",April22,2022,, nan","Disneynature, nan, ,Alastair Fothergill,Keith ..."
491,"nan, ,May19,2022 (Hollywood, California),May20...","nan, Joe LisantiBrian Tyler, ,David Hoberman,T..."
492,"nan, ,May23,2022 (El Capitan Theatre),June3,20...","nan, nan, ,Ellen Goldsmith-Vein,Lee Stollman,"
493,"nan, ,June8,2022 (El Capitan Theatre),June17,2...","nan, nan, Galyn Susman"
494,",June24,2022,, nan","nan, nan, Bernie Goldmann"

In [38]:
# removing nan strings
movie_data['Release'] = movie_data['Release'].apply(lambda x: x.replace("nan", ""))
movie_data['Production by'] = movie_data['Production by'].apply(lambda x: x.replace("nan", ""))

# now replacing all extra commas
movie_data['Release'] = movie_data['Release'].apply(lambda x: x.replace(", ,", ","))
movie_data['Production by'] = movie_data['Production by'].apply(lambda x: x.replace(", ,", ","))
movie_data['Release'] = movie_data['Release'].apply(lambda x: x.replace(",,", ","))
movie_data['Production by'] = movie_data['Production by'].apply(lambda x: x.replace(",,", ","))

# removing commas on left and right
movie_data['Production by'] = movie_data['Production by'].str.lstrip(',')
movie_data['Production by'] = movie_data['Production by'].str.rstrip(',')

movie_data['Release'] = movie_data['Release'].str.lstrip(',')
movie_data['Release'] = movie_data['Release'].str.rstrip(',')

movie_data[['Release', 'Production by']]

,Release,Production by
0,"May19,1937,","Walt Disney Productions,"
1,"December21,1937 (Carthay Circle Theatre),Febru...","Walt Disney Productions, Walt Disney"
2,"February7,1940 (Center Theatre),February23,194...","Walt Disney Productions, Walt Disney"
3,"November13,1940,","Walt Disney Productions, ,Walt Disney,Ben Shar..."
4,"June27,1941,","Walt Disney Productions, Walt Disney"
...,...,...
490,"April22,2022,","Disneynature, ,Alastair Fothergill,Keith Schol..."
491,"May19,2022 (Hollywood, California),May20,2022 ...","Joe LisantiBrian Tyler,David Hoberman,Todd Li..."
492,"May23,2022 (El Capitan Theatre),June3,2022 (Un...",",Ellen Goldsmith-Vein,Lee Stollman"
493,"June8,2022 (El Capitan Theatre),June17,2022 (U...",Galyn Susman
494,"June24,2022,",Bernie Goldmann

In [39]:
movie_data

,Name,Distributed by,Running time,Country,Box office,Directed by,Written by,Based on,Starring,Music by,Budget,Story by,Narrated by,Cinematography,Edited by,Screenplay by,Production by,Release
0,Academy Award Review of Walt Disney Cartoons,United Artists,41 minutes (74 minutes 1966 release),United States,$45.472,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Walt Disney Productions,","May19,1937,"
1,Snow White and the Seven Dwarfs,RKO Radio Pictures,83 minutes,United States,$418 million,"Supervising Director ,David Hand,,Sequence Dir...",",Ted Sears,Richard Creedon,Otto Englander,Dick...",Snow Whiteby The Brothers Grimm,",Adriana Caselotti,Lucille La Verne,Harry Stoc...",",Frank Churchill,Paul Smith,Leigh Harline,",$1.49 million,NaN,NaN,NaN,NaN,NaN,"Walt Disney Productions, Walt Disney","December21,1937 (Carthay Circle Theatre),Febru..."
2,Pinocchio,RKO Radio Pictures,88 minutes,United States,$164million,"Supervising Directors,Ben Sharpsteen,Hamilton ...",NaN,The Adventures of Pinocchioby Carlo Collodi,",Cliff Edwards,Dickie Jones,Christian Rub,Walt...",Leigh HarlinePaul J. Smith,$2.6 million,Ted SearsOtto EnglanderWebb SmithWilliam Cottr...,NaN,NaN,NaN,NaN,"Walt Disney Productions, Walt Disney","February7,1940 (Center Theatre),February23,194..."
3,Fantasia,RKO Radio Pictures,126 minutes,United States,$76.4–$83.3 million (United States and Canada),",Samuel Armstrong,James Algar,Bill Roberts,Pau...",NaN,NaN,",Leopold Stokowski,Deems Taylor,",See program,$2.28 million,",Joe Grant,Dick Huemer,",Deems Taylor,James Wong Howe,NaN,NaN,"Walt Disney Productions, ,Walt Disney,Ben Shar...","November13,1940,"
4,The Reluctant Dragon,RKO Radio Pictures,74 minutes,United States,"$960,000 (worldwide rentals)",Alfred Werker (live action)Hamilton Luske (ani...,Live-action:Ted SearsAl PerkinsLarry ClemmonsB...,NaN,Robert BenchleyFrances GiffordBuddy PepperNana...,Frank ChurchillLarry Morey,"$600,000",NaN,NaN,Bert Glennon,Paul Weatherwax,NaN,"Walt Disney Productions, Walt Disney","June27,1941,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490,Polar Bear,Disney+,84 minutes,United States,NaN,",Alastair Fothergill,Jeff Wilson,",NaN,NaN,NaN,Harry Gregson-Williams,NaN,NaN,Catherine Keener,NaN,NaN,NaN,"Disneynature, ,Alastair Fothergill,Keith Schol...","April22,2022,"
491,Chip 'n Dale: Rescue Rangers,Disney+,96 minutes,United States,"$636,163",Akiva Schaffer,",Dan Gregor,Doug Mand,",Rescue Rangers properties and charactersby Dis...,",John Mulaney,Andy Samberg,KiKi Layne,Will Arn...",Brian Tyler,~$70 million,NaN,NaN,Larry Fong,Brian Olds,NaN,"Joe LisantiBrian Tyler,David Hoberman,Todd Li...","May19,2022 (Hollywood, California),May20,2022 ..."
492,Hollywood Stargirl,Disney+,105 minutes,United States,NaN,Julia Hart,",Jordan Horowitz,Julia Hart,",Charactersby Jerry Spinelli,",Grace VanderWaal,Elijah Richardson,Tyrel Jack...",Michael Penn (songs) Rob Simonsen Duncan Bli...,NaN,NaN,NaN,Bryce Fortner,Shayar BhansaliTracey Wadmore-Smith,NaN,",Ellen Goldsmith-Vein,Lee Stollman","May23,2022 (El Capitan Theatre),June3,2022 (Un..."
493,Lightyear,Walt Disney StudiosMotion Pictures,100 minutes,United States,$213.4 million,Angus MacLane,NaN,NaN,",Chris Evans,Keke Palmer,Peter Sohn,Taika Wait...",Michael Giacchino,$200 million,",Angus MacLane,Matthew Aldrich,Jason Headley,",NaN,",Jeremy Lasky (camera),Ian Megibben (lighting),",Anthony J. Greenberg,",Jason Headley,Angus MacLane,",Galyn Susman,"June8,2022 (El Capitan Theatre),June17,2022 (U..."
494,Rise,Disney+,NaN,NaN,NaN,Akin Omotoso,Arash Amel,NaN,",Uche Agada,Ral Agada,Jaden Osimuwa,Elijah Sho...",Ré Olunuga,NaN,NaN,NaN,Kabelo Thathe,Vuyani Sondlo,NaN,Bernie Goldmann,"June24,2022,"

look for any null values for release date, which need to be removed as such movies are of no use

In [40]:
movie_data['Release'].isnull().values.any()

False

this means that all movies are valid

## Convert running time to integer

In [41]:
# removing movies with no running time
movie_data['Running time'] = movie_data['Running time'].astype('str')

In [42]:
# removing non numeric strings
for i in range(len(movie_data['Running time'])):
    movie_data['Running time'][i] = movie_data['Running time'][i].split(" ")[0]

movie_data['Running time']

0       41
1       83
2       88
3      126
4       74
      ...
490     84
491     96
492    105
493    100
494    nan
Name: Running time, Length: 495, dtype: object

In [43]:
# removing non numeric strings
count = 0
for i in range(len(movie_data['Running time'])):
    if movie_data['Running time'][i].isnumeric() == False:
        print(movie_data['Running time'][i])
        count = count + 1

print(f"count: {count}" )

22–24
22–24
nan
nan
nan
84minutes
nan
,157
nan
count: 9

As evident, nine values are alphanumric. Hence, we ignore the movies with no running time since it is practically impossible. Second, for the ranges, we provide average. And for extra strings we convert them to the numeric substring.|

In [44]:
movie_data = movie_data.drop(movie_data[movie_data['Running time'] == "nan"].index)

In [45]:
print(movie_data.loc[(movie_data['Running time'] == "84minutes")].index)
movie_data.at[413,'Running time'] = "84"

print(movie_data.loc[(movie_data['Running time'] == ",157")].index)
movie_data.at[486,'Running time'] = "157"

Int64Index([413], dtype='int64')
Int64Index([486], dtype='int64')

In [46]:
print(movie_data.loc[(movie_data['Running time'] == "22–24")].index)
movie_data.at[43,'Running time'] = "23"
movie_data.at[48,'Running time'] = "23"

Int64Index([43, 48], dtype='int64')

In [47]:
movie_data['Running time'].astype(int)

0       41
1       83
2       88
3      126
4       74
      ...
489     91
490     84
491     96
492    105
493    100
Name: Running time, Length: 490, dtype: int64

## Cleaning "Budget"

In [48]:
movie_data['Budget']

0                NaN
1      $1.49 million
2       $2.6 million
3      $2.28 million
4           $600,000
           ...
489              NaN
490              NaN
491     ~$70 million
492              NaN
493     $200 million
Name: Budget, Length: 490, dtype: object

In [51]:
movie_data["Budget"] = movie_data["Budget"].astype(str)  # cast to string

# all the string surgery goes in here
movie_data["Budget"] = movie_data["Budget"].astype(str).replace('million', '')  # assuming ',' is the thousand's separator in your locale

In [52]:
movie_data['Budget']

0                nan
1      $1.49 million
2       $2.6 million
3      $2.28 million
4           $600,000
           ...
489              nan
490              nan
491     ~$70 million
492              nan
493     $200 million
Name: Budget, Length: 490, dtype: object

In [54]:
movie_data['Budget']

0                nan
1      $1.49 million
2       $2.6 million
3      $2.28 million
4           $600,000
           ...
489              nan
490              nan
491     ~$70 million
492              nan
493     $200 million
Name: Budget, Length: 490, dtype: object

In [56]:
print([movie.get('Budget', 'N/A') for movie in movie_info_list])

['N/A', '$1.49 million', '$2.6 million', '$2.28 million', '$600,000', '$950,000', '$858,000', 'N/A', '$788,000', 'N/A', '$1.35 million', '$2.125 million', 'N/A', '$1.5 million', '$1.5 million ', 'N/A', '$2.2 million', '$1,800,000', '$3 million', 'N/A', '$4 million', '$2 million', '$300,000', '$1.8 million', 'N/A', '$5 million', 'N/A', '$4 million', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '$700,000', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '$6 million', 'under $1 million or $1,250,000', 'N/A', 'N/A', '$2 million', 'N/A', 'N/A', '$2.5 million', 'N/A', 'N/A', 'N/A', '$4 million', '$3.6 million', 'N/A', 'N/A', 'N/A', 'N/A', '$3 million', 'N/A', '$3 million', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '$3 million', 'N/A', 'N/A', 'N/A', 'N/A', '$4.4–6million', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '$4million', 'N/A', '$5 million', 'N/A', 'N/A', 'N/A', 'N/A', '$5 million', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '$4 million', 'N/A', 'N/A', 'N/A', '$6.3million', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '$5 million', 'N/A', 'N/A', 'N/A', 'N/A', '$8 million', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'AU$1 million', 'N/A', 'N/A', 'N/A', 'N/A', '$5 million', 'N/A', 'N/A', 'N/A', '$7.5 million', 'N/A', '$10 million', 'N/A', 'N/A', '$3.5 to 4 million', 'N/A', 'N/A', 'N/A', '$5.25 million', '$20 million', 'N/A', '$9 million', 'N/A', '$6-8 million', '$20 million', 'N/A', 'N/A', '$18 million', '$12 million', '$14 million', '$10 million', '$17 million', '$5 million', 'unknown', '$20 million', '$11 million', '$28 million', '$44 million', 'N/A', 'N/A', '$14 million', '$9 million', 'N/A', 'A$8.7 million', '$31 million', '$18million', '$5 million', '$40million', '$20 million', 'N/A', '$14 million', '60 million Norwegian Kroner (around $8.7 million in 1989)', 'N/A', '$35-40 million', '$25million', '$15 million', '$32 million', '$14 million', '$28million', '$12 million', 'N/A', 'N/A', '$6.5 million', '$28million', '$17 million', '$30 million', 'N/A', '$13 million', 'N/A', 'N/A', '$45 million', '$31 million', 'N/A', '$22 million', '$30 million', 'N/A', '$22 million', '$32 million(estimated)', '$18 million', '$55 million', '$24 million', '$15 million', '$12 million', 'N/A', '$30million', 'N/A', '$31 million', 'N/A', '$38 million', '$70million', '$15 million', 'N/A', '$67 million', 'N/A', '$32 million', '$7 million', '$85million', '$55 million', '$3 million', '$16 million', '$80 million', '$30 million', '$24 million', '$90million', '$15 million', 'N/A', '$30 million', '$120million', '$90 million', '$65 million', '$5 million', 'N/A', '$130 million', '$75–90 million', '$10 million', '$90million', '$15 million–$30 million', '$4,000,000 (estimated)', '$127.5 million', '$80–$85 million', '$65 million', 'N/A', '$30 million', '$85 million', '$100million', '$23 million', 'N/A', '$90–120 million', '$26 million', '$25 million', '$115million', 'N/A', '$33 million', '$20 million', '$5 million', 'N/A', '$22 million', '$80 million', '$35 million', ' (US$15–19.2 million)', '$15 million', '$65 million', '$140 million', 'N/A', '$20 million', '$12 million', '$46million', '$13 million', '$20 million', '$17 million', '$94million', '$140 million', '$26 million', 'N/A', 'N/A', '$46 million', '$90 million', 'N/A', '$10 million', '$28 million', 'N/A', '$15 million', 'N/A', '$110 million', 'N/A', '$110 million', 'N/A', '$45 million', 'N/A', '$92–145million', 'N/A', '$100 million', 'N/A', 'N/A', '$20million', '$56 million', '$25 million', 'N/A', '$50 million', '¥2.4 billionUS$24 million', '$35 million', '$35 million', 'N/A', 'N/A', '$25 million', '$150 million', '$180 million', 'N/A', '$30 million', '$1 million', 'N/A', '$40 million', '$50 million', '$80 million', '$120million', 'N/A', '$225 million', '$30 million', 'N/A', '$24 million', '$12million', 'N/A', '$8 million', '$17 million', '$150 million', '$300million', '$150million', 'N/A', '$25 million', 'N/A', '$22 million', '$85 million', '$130 million', '$7 million', '$25 million', '$225 million', '$180 million', 'N/A', '$20 million', 'N/A', '$11 million', 'N/A', '$50 million', '$150 million', '$80 million', 'N/A', '$50 million', '$30 million', '$47 million', 'N/A', '$175 million', 'N/A', '$150 million', '¥3.4 billion(US$34 million)', 'N/A', '$30—$35 million', '$8 million (₽350 million)', '$175–200 million', '$35 million', '$105 million', '$150–$200 million', '$80 million', '$150–200 million', '$200million', '$150 million', '$22 million', 'N/A', '$30—$35 million', '$35 million', 'N/A', '$260 million', '$170million', '', 'N/A', 'N/A', '$150 million', 'N/A', '$5 million', '$8 million', ',$410.6 million (gross),$378.5 million (net),', '$200million', '$30 million', 'N/A', '$45million', 'N/A', '$23million', ',$306.6 million (gross),$263.7 million (net),', '$5 million', 'N/A', '$185 million', '$25 million', 'N/A', '$39 million', '$30—35 million', '$165million', '$200 million', 'N/A', '$200million', '$225–250 million', '$50 million', 'N/A', '$150 million', '$35 million', '$50 million', 'N/A', '$5 million', '$25 million', '$180–263million', '$50million', ' (US$3.0million)', '$28 million', '$165million', '$50 million', '$17 million', 'N/A', '$84.21-95 million', '$5–10 million', '$180–190 million', '$175million', '', '$175–200 million', '$70–80 million', '$150million', '$175–177 million', 'N/A', '$170 million', '$200million', '$140 million', '$65 million', '$15million', '$150–175million', '', '$8 million', '$160–255million', '$5–10 million', '$230–320 million', '$175 million', 'N/A', '131 crore', '~$8 million  ₽370 million', '$175–225million', '$100–130 million', '$200million', '$75 million', '$120–133 million', '$175million', '$130 million', '$170 million', 'N/A', '$183million', '$200 million', '$250–260million', '$185 million', '$60 million', 'N/A', '$150million', '$40 million', '$42 million', '$175–200 million', 'N/A', 'N/A', 'N/A', '$125 million', '$12.5 million (stage production)', 'N/A', '$24 million', 'N/A', '$200 million', 'Unknown', '$26 million', '$150 million', '₽650 million', 'N/A', '$100 million+', '$100–200 million', 'N/A', '$200 million', '$120–150 million', 'N/A', '₽454 million', 'N/A', 'N/A', '$175 million', 'N/A', 'N/A', 'N/A', '~$70 million', 'N/A', '$200 million', 'N/A']

In [103]:
import re
movie_data['Budget'] = movie_data['Budget'].replace({"\$": "", "~": "", ",": ""}, regex=True)

for movie in movie_info_list:
    m_budget = movie.get("Budget")
    m_budget = str(m_budget).replace("$", "").replace("~", "").replace(",", "")
    movie['Budget'] = m_budget
    print(movie['Budget'])
    if "under" in m_budget:
        m_budget = str(m_budget).replace("under 1 million or ", "")
        
    elif "-" in m_budget:
        m_budget = str(m_budget).replace("million", "").replace("-", " ").replace(".21", "")
        
        #extracting numbers from range 
        num_list = re.findall(r'\d+', m_budget)
        
        # taking average of extracted numbers then converting to million
        m_budget = int(int(num_list[0])+ int(num_list[1]))/2*1000000
        
    elif "around" in m_budget:
        m_budget = str(m_budget).replace(m_budget,"8700000")
    
    elif "estimated" in m_budget:
        m_budget = str(m_budget).replace("(estimated)", "").replace(" ", "")
        if "million" in m_budget:
            m_budget = int(m_budget.replace("million", ""))*1000000
        
    elif "US" in m_budget:
        m_budget = str(m_budget).split("US")[1].replace(" million)", "").replace(" million", "").replace("million)", "")
        
        if "15–19.2" in m_budget:
            num_list = re.findall(r'\d+', m_budget)
            m_budget = str(int(int(num_list[0])+ int(num_list[1]))/2*1000000)
            
        else:
            m_budget = str(float(m_budget)*100000)
            
    elif "gross" in m_budget:
        m_budget = str(float(str(m_budget).split("(gross)")[0].replace(" million ", ""))*1000000) 
        
    elif "million" in m_budget:
        m_budget = m_budget.split("million")[0]
        num_list = re.findall('\d+', m_budget )
        if len(num_list) == 2:
            m_budget = str(int(int(num_list[0])+ int(num_list[1]))/2*1000000)
        else:
            m_budget = int(num_list[0])*1000000 

    movie['Budget'] = str(m_budget)

None
25000000.0
4000000.0
15000000.0
600000
950000
858000
None
788000
None
18000000.0
63500000.0
None
3000000.0
3000000.0
None
2000000.0
1800000
3000000
None
4000000
2000000
300000
4500000.0
None
5000000
None
4000000
None
None
None
None
None
None
700000
None
None
None
None
None
6000000
1250000
None
None
2000000
None
None
3500000.0
None
None
None
4000000
4500000.0
None
None
None
None
3000000
None
3000000
None
None
None
None
None
None
None
None
None
3000000
None
None
None
None
4000000
None
None
None
None
None
None
None
None
None
None
None
4000000
None
5000000
None
None
None
None
5000000
None
None
None
None
None
None
4000000
None
None
None
4500000.0
None
None
None
None
None
None
None
None
5000000
None
None
None
None
8000000
None
None
None
None
None
None
1000000
None
None
None
None
5000000
None
None
None
6000000.0
None
10000000
None
None
3000000
None
None
None
15000000.0
20000000
None
9000000
None
7000000.0
20000000
None
None
18000000
12000000
14000000
10000000
17000000
5000000
unknown
20000000
11000000
28000000
44000000
None
None
14000000
9000000
None
7500000.0
31000000
18000000
5000000
40000000
20000000
None
14000000
8700000
None
37500000.0
25000000
15000000
32000000
14000000
28000000
12000000
None
None
5500000.0
28000000
17000000
30000000
None
13000000
None
None
45000000
31000000
None
22000000
30000000
None
22000000
32000000
18000000
55000000
24000000
15000000
12000000
None
30000000
None
31000000
None
38000000
70000000
15000000
None
67000000
None
32000000
7000000
85000000
55000000
3000000
16000000
80000000
30000000
24000000
90000000
15000000
None
30000000
120000000
90000000
65000000
5000000
None
130000000
82500000.0
10000000
90000000
15000000
4000000
66000000.0
82500000.0
65000000
None
30000000
85000000
100000000
23000000
None
105000000.0
26000000
25000000
115000000
None
33000000
20000000
5000000
None
22000000
80000000
35000000
17000000.0
15000000
65000000
140000000
None
20000000
12000000
46000000
13000000
20000000
17000000
94000000
140000000
26000000
None
None
46000000
90000000
None
10000000
28000000
None
15000000
None
110000000
None
110000000
None
45000000
None
118500000.0
None
100000000
None
None
20000000
56000000
25000000
None
50000000
2400000.0
35000000
35000000
None
None
25000000
150000000
180000000
None
30000000
1000000
None
40000000
50000000
80000000
120000000
None
225000000
30000000
None
24000000
12000000
None
8000000
17000000
150000000
300000000
150000000
None
25000000
None
22000000
85000000
130000000
7000000
25000000
225000000
180000000
None
20000000
None
11000000
None
50000000
150000000
80000000
None
50000000
30000000
47000000
None
175000000
None
150000000
3400000.0
None
32500000.0
8000000
187500000.0
35000000
105000000
175000000.0
80000000
175000000.0
200000000
150000000
22000000
None
32500000.0
35000000
None
260000000
170000000

None
None
150000000
None
5000000
8000000
410600000.0
200000000
30000000
None
45000000
None
23000000
306600000.0
5000000
None
185000000
25000000
None
39000000
32500000.0
165000000
200000000
None
200000000
237500000.0
50000000
None
150000000
35000000
50000000
None
5000000
25000000
221500000.0
50000000
300000.0
28000000
165000000
50000000
17000000
None
89500000.0
7500000.0
185000000.0
175000000

187500000.0
75000000.0
150000000
176000000.0
None
170000000
200000000
140000000
65000000
15000000
162500000.0

8000000
207500000.0
7500000.0
275000000.0
175000000
None
131 crore
8000000
200000000.0
115000000.0
200000000
75000000
126500000.0
175000000
130000000
170000000
None
183000000
200000000
255000000.0
185000000
60000000
None
150000000
40000000
42000000
187500000.0
None
None
None
125000000
8500000.0
None
24000000
None
200000000
Unknown
26000000
150000000
650000000
None
100000000
150000000.0
None
200000000
135000000.0
None
454000000
None
None
175000000
None
None
None
70000000
None
200000000
None